<!DOCTYPE html>
<html>
<head>
 </head>
<body>
 	<div>
 		<form action = "/" method = "POST" encType="multipart/form-data">
			<label>Please insert your Spotify Client ID </label>
			<input type="text" name="clientId" placeholder="i.e. %$*(%)&">

			<label>Please insert your Spotify Client Secret </label>
			<input type="text" name="clientSecret" placeholder="i.e. kfdj**F">

			<label>Please upload a csv file </label>
			<input name="csv" type="file" />
			<input type='submit' value='Upload!' />
 		</form>
 	</div>


</body>
</html>


<style type="text/css">
	div{
		width: 400px;
		height : 200px;
		margin: 20% auto;
		display: block;
	}

	label, input {
		display : block;
	}
</style>