<!DOCTYPE html>
<html>
<head>
 </head>
<body>
	<div class = "instruct">
		<strong>Step 1</strong>  
			<p> First, generate your own Spotify developer credentials</p>
		    <p> Go to https://developer.spotify.com/dashboard/login and login with your account</p>
		    <p>Register a new application, and get clientId and client secret</p>
		<strong>Step 2</strong>      
			<p>Make sure that the song column is titled "Song Title" or "title" and the artist column is titled "Artist" or "artist"</p>
			<p>If there is an "id" field, the script will recognize it and run on that</p>
		<div><strong>Be patient. The process is very resource-intensive. A file of 600 tracks can take even 10 minutes</strong></div>	

	</div>
 	<div>
 		<form action = "/" method = "POST" encType="multipart/form-data">
			<label>Please insert your Spotify Client ID </label>
			<input type="text" name="clientId" placeholder="i.e. %$*(%)&">

			<label>Please insert your Spotify Client Secret </label>
			<input type="text" name="clientSecret" placeholder="i.e. kfdj**F">

			<label>Please upload a csv file </label>
			<input name="csv" type="file" />
			<input type='submit' value='Upload & run the script!!!' />
 		</form>
 	</div>


</body>
</html>


<style type="text/css">
	form{
		width: 800px;
		height : 200px;
		margin: 0% auto;
		display: block;
	}
	.instruct{
		width : 800px;
		margin: 0% auto;
		display: block;
	}

	label, input {
		display : block;
	}
</style>