
<!DOCTYPE html>
<html>
<head>
 </head>
<body>
 	<div class = "middle">

		<div><h2>Success!!</h2></div>
		<div><a href="/features">Click to download Features file</a></div>
		<div><a href="/analysis">Click to download Analysis file</a></div>

 	</div>


</body>
</html>

<style type="text/css">
	.middle {
		margin: 0% auto;
		display: block;
	}
</style>