
<!DOCTYPE html>
<html>
<head>
 </head>
<body>
 <div>

<h1>Script is running in the background, check your console for more</h1>

 </div>


</body>
</html>

<style type="text/css">
	h1 {
		margin: 0% auto;
		display: block;
	}
</style>